$hidden-color:  rgb(89, 104, 117);
$pers-prons-color: rgb(255, 246, 166);
$dem-prons-color: rgb(201, 236, 201);
$case-bgcolor:  rgb(253, 245, 226);
$meaning-color: rgb(210, 210, 247);

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 0.3px;
}

h1 {
    cursor: pointer;
    margin: 5px;
}

#root {
    margin-top: 50px;
}

.topMenuBar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    background-color: rgb(33, 33, 126);
    padding: 7px;
    font-size: 0.8em;
    .topButton {
        background-color:transparent;
        border: 0;
        margin-right: 20px;
        border-collapse: collapse;
        cursor: pointer;
        color: white ;
        //font-weight: bold;
    }
}

.case {
    //position: relative;
    background-color: $case-bgcolor;
    border: 1px solid scale-color($case-bgcolor, $lightness: -15%);
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
    div {
        //margin: 15px;
        ul li {
            margin-top: 20px;
            ul li {
                margin-top: 5px;
            }
        }
    }

    img {
        max-height: 40px;
        float: right;
        margin: 0;
    }
}

.caseProperties {
    position: relative;
    margin-top: 10px;
    margin-left: 10px;
    padding: 5px;
}

.propertyLabel  {
    font-weight: bold;
    color:rgb(0, 43, 80);
    font-size: 1.2em;
}

@mixin value {
    cursor: pointer;
}

.hiddenValue {
    @include value;
    background-color: $hidden-color;
    max-width: 30px;
    span {
        visibility: hidden;
    }
}

.shownValue {
    @include value;
    color: $hidden-color;
    font-weight: bold;
}

.usecaseLabel {
    color:rgb(0, 90, 30);
    font-weight: bold;
}

.usage {
    list-style-type: none;
}

.usecase {
    background-color: scale-color($case-bgcolor, $lightness: -5%);
    border: 1px solid scale-color($case-bgcolor, $lightness: -15%);
    border-radius: 5px;
    padding: 10px;   
}

.tooltip {
    position: relative;
    display: inline;
    text-decoration: underline;
    text-underline-position: under; //adds some space between text and underline
    text-decoration-style: dotted;
    text-decoration-color: grey;

    .tooltipText {
        border: 1px solid scale-color($meaning-color, $lightness: -25%);
        border-radius: 2px;
        background-color: $meaning-color;
        visibility: hidden;
        position: absolute;
        bottom: 120%;
        left: 0%;
        min-width: 100%;
        text-align: center;
        //top: -20px;
        padding: 2px;
        z-index: 2;
        color: black;
    }
}

.tooltip:hover .tooltipText {
    visibility: visible ;
}

.exception {
    color:rgb(151, 12, 7);
    strong {
        color: black;
    }
}

@mixin pronounsStyle($color) {
    display: inline-block;
    table {
        background-color: $color;
        border-collapse: collapse;
        margin: 10px;
        td {
            border: 1px solid scale-color($color, $lightness: -50%);
            width: 70px;;
            padding: 5px;
        }
    }
}

.pers-pronouns  {
    @include pronounsStyle($pers-prons-color)
}

.dem-pronouns {
    @include pronounsStyle($dem-prons-color)
}

